/* Login  */

position: relative;
width: 1440px;
height: 1771px;

background: #FFFFFF;


/* Form Register */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 24px;

position: absolute;
width: 600px;
min-width: 320px;
height: 445px;
left: 420px;
top: 1077px;

background: #FFFFFF;
border: 1px solid #D9D9D9;
border-radius: 8px;


/* Input Field */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 552px;
height: 70px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label */

width: 552px;
height: 22px;

/* Body Base */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Description */

display: none;
width: 240px;
height: 22px;

/* Body Base */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

color: #757575;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Input */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;

width: 552px;
min-width: 240px;
height: 40px;

background: #FFFFFF;
border: 1px solid #D9D9D9;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Value */

width: 520px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */

color: #B3B3B3;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Error */

display: none;
width: 37px;
height: 22px;

/* Body Base */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Input Field */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 552px;
height: 70px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Label */

width: 552px;
height: 22px;

/* Body Base */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Description */

display: none;
width: 240px;
height: 22px;

/* Body Base */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

color: #757575;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Input */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;

width: 552px;
min-width: 240px;
height: 40px;

background: #FFFFFF;
border: 1px solid #D9D9D9;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Value */

width: 520px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */

color: #B3B3B3;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Error */

display: none;
width: 37px;
height: 22px;

/* Body Base */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Checkbox Field */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 552px;
height: 44px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Checkbox and Label */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 552px;
height: 22px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Checkbox */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 16px;
height: 16px;

background: #2C2C2C;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Check */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 25%;
bottom: 29.17%;

border: 1.6px solid #F5F5F5;


/* Label */

width: 524px;
height: 22px;

/* Body Base */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Description Row */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 552px;
height: 22px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Space */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Description */

width: 524px;
height: 22px;

/* Body Base */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Button Group

Keywords: actions
*/

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 552px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px;
gap: 8px;

display: none;
width: 112px;
height: 40px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px;
gap: 8px;

width: 552px;
height: 40px;

background: #2C2C2C;
border: 1px solid #2C2C2C;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Star

Keywords: bookmark, favorite, like
*/

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

width: 63px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */

color: #F5F5F5;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* X

Keywords: cancel, close, delete, remove, times, clear
*/

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Article title */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 24px;

position: absolute;
height: 77px;
left: 28.82%;
right: 20.28%;
top: 294px;



/* Frame 1321317458 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 733px;
height: 77px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Sign In */

width: 733px;
height: 77px;

/* Title

Largest copy on the page.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 77px;
letter-spacing: -0.02em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Form Log In */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 24px;

position: absolute;
width: 600px;
min-width: 320px;
height: 356px;
left: 420px;
top: 402px;

background: #FFFFFF;
border: 1px solid #D9D9D9;
border-radius: 8px;


/* Input Field */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 552px;
height: 70px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label */

width: 552px;
height: 22px;

/* Body Base */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Description */

display: none;
width: 240px;
height: 22px;

/* Body Base */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

color: #757575;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Input */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;

width: 552px;
min-width: 240px;
height: 40px;

background: #FFFFFF;
border: 1px solid #D9D9D9;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Value */

width: 520px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */

color: #B3B3B3;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Error */

display: none;
width: 37px;
height: 22px;

/* Body Base */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Input Field */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 552px;
height: 70px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Label */

width: 552px;
height: 22px;

/* Body Base */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Description */

display: none;
width: 240px;
height: 22px;

/* Body Base */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

color: #757575;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Input */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;

width: 552px;
min-width: 240px;
height: 40px;

background: #FFFFFF;
border: 1px solid #D9D9D9;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Value */

width: 520px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */

color: #B3B3B3;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Error */

display: none;
width: 37px;
height: 22px;

/* Body Base */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Button Group

Keywords: actions
*/

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 552px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px;
gap: 8px;

display: none;
width: 112px;
height: 40px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px;
gap: 8px;

width: 552px;
height: 40px;

background: #2C2C2C;
border: 1px solid #2C2C2C;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Star

Keywords: bookmark, favorite, like
*/

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

width: 52px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */

color: #F5F5F5;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* X

Keywords: cancel, close, delete, remove, times, clear
*/

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Text Link */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

display: none;
width: 272px;
height: 22px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Article title */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 24px;

position: absolute;
height: 77px;
left: 28.82%;
right: 20.28%;
top: 962px;



/* Frame 1321317458 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 733px;
height: 77px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Register */

width: 733px;
height: 77px;

/* Title

Largest copy on the page.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 77px;
letter-spacing: -0.02em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Navigation */

position: absolute;
height: 164px;
left: 0px;
right: 0px;
top: 0px;

background: #FFFFFF;


/* Items */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 48px;

position: absolute;
width: 293px;
height: 52px;
right: 80px;
top: 56px;



/* All Restaurants */

width: 145px;
height: 30px;

/* Body text

Text for body copy
*/
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 150%;
/* identical to box height, or 30px */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 14px 24px;
gap: 8px;

width: 100px;
height: 52px;

background: #000000;
/* Button Shadow */
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Sign In */

width: 52px;
height: 24px;

/* Small text

Small text
*/
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Restaurant */

position: absolute;
width: 105px;
height: 30px;
left: 80px;
top: 67px;

/* Body text

Text for body copy
*/
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 150%;
/* identical to box height, or 30px */
display: flex;
align-items: center;

color: #000000;

