<h2>User List</h2>

@for (user of users; track $index) {
    <app-user [user]="user"></app-user>
  }
  <!-- <div style="margin-bottom: 1rem; padding: 1rem; border: 1px solid #ccc; border-radius: 8px;">
    <div>
      <b>User ID:</b> <span>{{ user.userId }}</span>
    </div>
    <div>
      <b>Username:</b> <span>{{ user.username }}</span>
    </div>
    <div>
      <b>Email:</b> <span>{{ user.email }}</span>
    </div>
    <div>
      <b>Password Hash:</b> <span>{{ user.passwordHash }}</span>
    </div>
    <div>
      <b>Created At:</b> <span>{{ user.createdAt}}</span>
    </div>
  </div> -->

